<div class="content">
    <div style="height:50px;width:100%;"></div>
    <form [formGroup]="professorsForm" (ngSubmit)="submit(professorsForm.value, professorsForm.valid)">
        <md-card class="card">
            <md-toolbar color="primary">Dados do Professor</md-toolbar>
            <md-card-content>
                
                <table cellspacing="0">
                    <tr>
                        <td colspan="3">
                            <md-input-container>
                                <input mdInput formControlName="firstName" placeholder="Nome Próprio" >
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.firstName.valid || (professorsForm.controls.firstName.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="3">
                            <md-input-container>
                                <input mdInput formControlName="lastName" placeholder="Último Nome"
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.lastName.valid || (professorsForm.controls.lastName.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="address" placeholder="Morada">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.address.valid || (professorsForm.controls.address.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="email" placeholder="Email">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.email.valid || (professorsForm.controls.email.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="contact" placeholder="Contato">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.contact.valid || (professorsForm.controls.contact.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input-container>
                                <input mdInput formControlName="city" placeholder="Cidade">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.city.valid || (professorsForm.controls.city.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="3">
                            <md-input-container>
                                <input mdInput formControlName="postalCode" maxLength="8" placeholder="Código Postal">

                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.postalCode.valid || (professorsForm.controls.postalCode.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input-container>
                                <input mdInput type="date" formControlName="birthdayDate" placeholder="Data de Nascimento">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.birthdayDate.valid || (professorsForm.controls.birthdayDate.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="3">
                        </td>
                    </tr>
                     <tr *ngIf="edit">
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="city" placeholder="Cidade">
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.city.valid || (professorsForm.controls.city.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="postalCode" maxLength="8" placeholder="Código Postal">

                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.postalCode.valid || (professorsForm.controls.postalCode.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>

        <md-card>
            <md-toolbar color="primary">Dados Contratuais</md-toolbar>
            <md-card-content>
                <table cellspacing="0" >
                    <tr formGroupName="canGive">
                        <td colspan="2">
                            <md-checkbox formControlName="0">
                                Instrumento
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="1">
                                Formação Musical
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="2">
                                Solfejo
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="3">
                                Classe de Conjunto
                            </md-checkbox>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input-container>
                                <input mdInput formControlName="rewarnPerHour" placeholder="Pagamento à Hora"/>
                                <span mdSuffix>€</span>
                            </md-input-container>
                            <md-hint [hidden]="professorsForm.controls.rewarnPerHour.valid || (professorsForm.controls.rewarnPerHour.pristine && !submitted)" align="start">
                                This field is required!
                            </md-hint>
                        </td>

                    </tr>
                </table>
            </md-card-content>
        </md-card>
        <div class="buttons-container">
            <div class="buttons-holder">
                 <button md-raised-button  type="submit" class="button" color="primary">{{ edit ? 'Editar' : 'Adicionar' }}</button>
            </div>
        </div>
    </form>
</div>